<div class="container mt-4">
     <a class="btn btn-primary my-4" href="/products/manage/create" role="button">Create new product</a>
     <table class="table">
          <thead>
          <tr>
               <th scope="col">#</th>
               <th scope="col">ID</th>
               <th scope="col">Name</th>
               <th scope="col">Category</th>
               <th scope="col">Price</th>
               <th scope="col">Brand</th>
               <th scope="col">Options</th>
          </tr>
          </thead>
          <tbody>
               {{#each products}}
               <tr>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.productID}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.category}}</td>
                    <td>{{this.price}}</td>
                    <td>{{this.brand}}</td>
                    <td>
                         <a class="btn btn-primary" href="/products/manage/{{this._id}}" role="button">Update</a>
                         <a class="btn btn-primary" data-toggle="modal" data-target="#deleteModal" data-id="{{this._id}}" role="button">Delete</a>
                    </td>
               </tr>
               {{/each}}
          </tbody>
     </table>
</div>

{{!-- Modal  --}}
<div class="modal" id="deleteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">ACCEPT DELETE PRODUCT</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure to delete this product?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="btn-delete-product" type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>

{{!-- Form --}}
<form name="delete-product-form" method="POST"></form>

{{!-- Handle form --}}
<script>
     document.addEventListener('DOMContentLoaded', function() {
               var productID;
               var deleteProductForm = document.forms['delete-product-form'];
               var btnDeleteProduct = document.getElementById('btn-delete-product');

               $('#deleteModal').on('show.bs.modal', function (event) {
                    var button = $(event.relatedTarget);
                    productID = button.data('id');
                    console.log(productID);
               })

               btnDeleteProduct.onclick = function() { 
                    deleteProductForm.action = '/products/manage/' + productID + '?_method=DELETE';
                    deleteProductForm.submit();
               }
          }
     )
</script>